* {
    font-size: 12px;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul li {
    list-style: none;
    width: 98%;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    color: rgba(49, 49, 50, 0.94);
}

#d_top {
    width: 99%;
    height: 40px;
    border-bottom: 3px solid #777;
    margin: 0 auto;
}

#d_top .d_t_left {
    width: 10%;
    height: 100%;
    float: left;
}

#d_top .d_t_left span {
    background: #2e8ded;
    height: 80%;
    margin-top: 4px;
    width: 80%;
    display: block;
    border-radius: 3px;
    text-align: center;
    margin-left: 10%;
}

#d_top .d_t_left span i {
    font-size: 12px;
    color: #fff;
    margin-top: 10px;
}

#d_top .d_t_center {
    width: 70%;
    height: 100%;
    float: left;
}

#d_top .d_t_center span {
    display: block;
    height: 100%;
    float: left;
    margin-right: 5px;
    padding: 0 10px 0 10px;
    line-height: 40px;
    cursor: pointer;
}

#d_top .d_t_center span:hover {
    background: #2e8ded;
    transition: all 0.3s ease;
    color: #fff;
}

#d_top .d_t_right {
    width: 10%;
    height: 100%;
    float: left;
    text-align: center;
}

#d_top .d_t_right input {
    width: 90%;
    height: 25px;
    margin-top: 5px;
    border-radius: 3px;
    padding-left: 3px;
}

#d_top .d_t_upload {
    width: 10%;
    float: left;
    text-align: center;
}

#d_top .d_t_upload .swfupload {
    margin-top: 4px;
}

#d_left {
    width: 10%;
    height: auto;
    float: left;
    border-right: #3B3D3F;
}

#d_left ul {
    padding-left: 10%;
}

#d_left ul li:hover {
    padding-left: 4%;
    line-height: 36px;
    transition: all 0.3s ease;
    border-left: 6px solid #1E9FFF;
}

#d_right {
    width: 85%;
    height: auto;
    float: left;
}

#d_right .d_r_first {
    width: 98%;
    font-weight: bold;
}

#d_right .d_r_first span {
    display: block;
    float: left;
}

#d_right .d_r_first .d_r_one {
    width: 60%;
}

#d_right .d_r_first .d_r_two {
    width: 10%;
}

#d_right ul {
    padding-left: 1%;
}

#d_right ul .d_r_con:hover {
    transition: all 0.3s ease;
    background: #4898d5;
    color: #fff;
}

#d_right ul li span {
    float: left;
    height: 30px;
    line-height: 30px;
}

#d_right ul li span p {
    float: left;
}

#d_right ul li .d_r_one {
    width: 60%;
}

#d_right ul li .d_r_one input {
    width: 70%;
    height: 28px;
}

#d_right ul li .d_r_two {
    width: 10%;
}