<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mhqy.cloud.desktop.dao.CDAddressMapper.CDAddressMapper" >
  <resultMap id="BaseResultMap" type="com.mhqy.cloud.desktop.domin.CDAddress" >
    <id column="address_id" property="addressId" jdbcType="BIGINT" />
    <result column="address_plat_id" property="addressPlatId" jdbcType="BIGINT" />
    <result column="address_province" property="addressProvince" jdbcType="VARCHAR" />
    <result column="address_city" property="addressCity" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="yn" property="yn" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    address_id, address_plat_id, address_province, address_city, create_time, update_time, 
    yn
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from c_d_address
    where address_id = #{addressId,jdbcType=BIGINT}
  </select>
  <select id="selectByProvince" resultMap="BaseResultMap" parameterType="com.mhqy.cloud.desktop.domin.CDAddress" >
    select
    <include refid="Base_Column_List" />
    from c_d_address
    WHERE
    address_province LIKE CONCAT(CONCAT('%',#{addressProvince,jdbcType=VARCHAR},'%'))
    AND yn = 1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from c_d_address
    where address_id = #{addressId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mhqy.cloud.desktop.domin.CDAddress" >
    insert into c_d_address (address_id, address_plat_id, address_province, 
      address_city, create_time, update_time, 
      yn)
    values (#{addressId,jdbcType=BIGINT}, #{addressPlatId,jdbcType=BIGINT}, #{addressProvince,jdbcType=VARCHAR}, 
      #{addressCity,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{yn,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.mhqy.cloud.desktop.domin.CDAddress" >
    insert into c_d_address
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="addressId != null" >
        address_id,
      </if>
      <if test="addressPlatId != null" >
        address_plat_id,
      </if>
      <if test="addressProvince != null" >
        address_province,
      </if>
      <if test="addressCity != null" >
        address_city,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="yn != null" >
        yn,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="addressId != null" >
        #{addressId,jdbcType=BIGINT},
      </if>
      <if test="addressPlatId != null" >
        #{addressPlatId,jdbcType=BIGINT},
      </if>
      <if test="addressProvince != null" >
        #{addressProvince,jdbcType=VARCHAR},
      </if>
      <if test="addressCity != null" >
        #{addressCity,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="yn != null" >
        #{yn,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mhqy.cloud.desktop.domin.CDAddress" >
    update c_d_address
    <set >
      <if test="addressPlatId != null" >
        address_plat_id = #{addressPlatId,jdbcType=BIGINT},
      </if>
      <if test="addressProvince != null" >
        address_province = #{addressProvince,jdbcType=VARCHAR},
      </if>
      <if test="addressCity != null" >
        address_city = #{addressCity,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="yn != null" >
        yn = #{yn,jdbcType=TINYINT},
      </if>
    </set>
    where address_id = #{addressId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mhqy.cloud.desktop.domin.CDAddress" >
    update c_d_address
    set address_plat_id = #{addressPlatId,jdbcType=BIGINT},
      address_province = #{addressProvince,jdbcType=VARCHAR},
      address_city = #{addressCity,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      yn = #{yn,jdbcType=TINYINT}
    where address_id = #{addressId,jdbcType=BIGINT}
  </update>
  <!--随机读取20条数据-->
  <select id="selectByRand" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from c_d_address
    ORDER BY  RAND() LIMIT 31
  </select>
  <!--读取所有数据-->
  <select id="selectAllContent" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from c_d_address
  </select>
</mapper>