<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mhqy.cloud.desktop.dao.CDFileMapper.CDFileMapper" >
  <resultMap id="BaseResultMap" type="com.mhqy.cloud.desktop.domin.CDFile" >
    <id column="file_id" property="fileId" jdbcType="BIGINT" />
    <result column="file_user_id" property="fileUserId" jdbcType="BIGINT" />
    <result column="file_parent_id" property="fileParentId" jdbcType="BIGINT" />
    <result column="file_name" property="fileName" jdbcType="VARCHAR" />
    <result column="file_system_name" property="fileSystemName" jdbcType="VARCHAR" />
    <result column="file_size" property="fileSize" jdbcType="VARCHAR" />
    <result column="file_simple_size" property="fileSimpleSize" jdbcType="VARCHAR" />
    <result column="file_type" property="fileType" jdbcType="VARCHAR" />
    <result column="file_ext" property="fileExt" jdbcType="VARCHAR" />
    <result column="file_desc" property="fileDesc" jdbcType="VARCHAR" />
    <result column="file_quote" property="fileQuote" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="yn" property="yn" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    file_id, file_user_id, file_parent_id, file_name, file_system_name, file_size, file_simple_size, 
    file_type, file_ext,file_desc,file_quote, create_time, update_time, yn
  </sql>
  <sql id="Base_Search_List">
    <where>
      <if test="fileId != null">
        AND file_id = #{fileId,jdbcType=BIGINT}
      </if>
      <if test="fileUserId != null">
        AND file_user_id = #{fileUserId,jdbcType=BIGINT}
      </if>
      <if test="fileParentId != null">
        AND file_parent_id = #{fileParentId,jdbcType=BIGINT}
      </if>
      <if test="fileName != null and fileName !=''">
        AND file_name LIKE "%"#{fileName,jdbcType=VARCHAR}"%"
      </if>
      <if test="fileSystemName != null and fileSystemName !=''">
        AND file_system_name = #{fileSystemName,jdbcType=VARCHAR}
      </if>
      <if test="fileSize != null and fileSize !=''">
        AND file_size = #{fileSize,jdbcType=VARCHAR}
      </if>
      <if test="fileSimpleSize != null and fileSimpleSize !=''">
        AND file_simple_size = #{fileSimpleSize,jdbcType=VARCHAR}
      </if>
      <if test="fileType != null and fileType !=''">
        AND file_type = #{fileType,jdbcType=VARCHAR}
      </if>
      <if test="fileExt != null and fileExt !=''">
        AND file_ext = #{fileExt,jdbcType=VARCHAR}
      </if>
      <if test="fileDesc != null and fileDesc !=''">
        AND file_desc = #{fileDesc,jdbcType=VARCHAR}
      </if>
      <if test="fileQuote != null and fileQuote !=''">
        AND file_quote = #{fileQuote,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        AND update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="yn != null and yn!=''">
        AND yn = #{yn,jdbcType=TINYINT}
      </if>
    </where>
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from c_d_file
    where file_id = #{fileId,jdbcType=BIGINT}
  </select>
  <select id="selectByFile" resultMap="BaseResultMap" parameterType="com.mhqy.cloud.desktop.domin.CDFile" >
    select
    <include refid="Base_Column_List" />
    from c_d_file
    <include refid="Base_Search_List" />
    ORDER by 1 desc
  </select>
  <select id="selectPhonoByUser" resultMap="BaseResultMap" parameterType="com.mhqy.cloud.desktop.domin.CDFile">
    select
    <include refid="Base_Column_List" />
    from c_d_file
    WHERE file_user_id = #{fileUserId,jdbcType=BIGINT}
    AND file_ext IN ('JPG','JPEG','PNG','GIF','jpg','jpeg','png','gif')
    AND yn = 1
    AND file_type = 2
    ORDER BY create_time DESC
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from c_d_file
    where file_id = #{fileId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mhqy.cloud.desktop.domin.CDFile" >
    insert into c_d_file (file_id, file_user_id, file_parent_id, 
      file_name, file_system_name, file_size, 
      file_simple_size, file_type, file_ext, 
      file_desc,file_quote, create_time, update_time,
      yn
      )
    values (#{fileId,jdbcType=BIGINT}, #{fileUserId,jdbcType=BIGINT}, #{fileParentId,jdbcType=BIGINT}, 
      #{fileName,jdbcType=VARCHAR}, #{fileSystemName,jdbcType=VARCHAR}, #{fileSize,jdbcType=VARCHAR}, 
      #{fileSimpleSize,jdbcType=VARCHAR}, #{fileType,jdbcType=VARCHAR}, #{fileExt,jdbcType=VARCHAR}, 
      #{fileDesc,jdbcType=VARCHAR},#{fileQuote,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP},
      #{updateTime,jdbcType=TIMESTAMP},#{yn,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mhqy.cloud.desktop.domin.CDFile" >
    insert into c_d_file
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fileId != null" >
        file_id,
      </if>
      <if test="fileUserId != null" >
        file_user_id,
      </if>
      <if test="fileParentId != null" >
        file_parent_id,
      </if>
      <if test="fileName != null" >
        file_name,
      </if>
      <if test="fileSystemName != null" >
        file_system_name,
      </if>
      <if test="fileSize != null" >
        file_size,
      </if>
      <if test="fileSimpleSize != null" >
        file_simple_size,
      </if>
      <if test="fileType != null" >
        file_type,
      </if>
      <if test="fileExt != null" >
        file_ext,
      </if>
      <if test="fileDesc != null" >
        file_desc,
      </if>
      <if test="fileQuote != null" >
        file_quote,
      </if>
        create_time,
        update_time,
      <if test="yn != null" >
        yn,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fileId != null" >
        #{fileId,jdbcType=BIGINT},
      </if>
      <if test="fileUserId != null" >
        #{fileUserId,jdbcType=BIGINT},
      </if>
      <if test="fileParentId != null" >
        #{fileParentId,jdbcType=BIGINT},
      </if>
      <if test="fileName != null" >
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileSystemName != null" >
        #{fileSystemName,jdbcType=VARCHAR},
      </if>
      <if test="fileSize != null" >
        #{fileSize,jdbcType=VARCHAR},
      </if>
      <if test="fileSimpleSize != null" >
        #{fileSimpleSize,jdbcType=VARCHAR},
      </if>
      <if test="fileType != null" >
        #{fileType,jdbcType=VARCHAR},
      </if>
      <if test="fileExt != null" >
        #{fileExt,jdbcType=VARCHAR},
      </if>
      <if test="fileDesc != null" >
        #{fileDesc,jdbcType=VARCHAR},
      </if>
      <if test="fileQuote != null" >
        #{fileQuote,jdbcType=INTEGER},
      </if>
        now(),
        now(),
      <if test="yn != null" >
        #{yn,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mhqy.cloud.desktop.domin.CDFile" >
    update c_d_file
    <set >
      <if test="fileUserId != null" >
        file_user_id = #{fileUserId,jdbcType=BIGINT},
      </if>
      <if test="fileParentId != null" >
        file_parent_id = #{fileParentId,jdbcType=BIGINT},
      </if>
      <if test="fileName != null" >
        file_name = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileSystemName != null" >
        file_system_name = #{fileSystemName,jdbcType=VARCHAR},
      </if>
      <if test="fileSize != null" >
        file_size = #{fileSize,jdbcType=VARCHAR},
      </if>
      <if test="fileSimpleSize != null" >
        file_simple_size = #{fileSimpleSize,jdbcType=VARCHAR},
      </if>
      <if test="fileType != null" >
        file_type = #{fileType,jdbcType=VARCHAR},
      </if>
      <if test="fileExt != null" >
        file_ext = #{fileExt,jdbcType=VARCHAR},
      </if>
      <if test="fileDesc != null" >
        file_desc = #{fileDesc,jdbcType=VARCHAR},
      </if>
      <if test="fileQuote != null" >
        file_quote = #{fileQuote,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="yn != null" >
        yn = #{yn,jdbcType=TINYINT},
      </if>
    </set>
    where file_id = #{fileId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mhqy.cloud.desktop.domin.CDFile" >
    update c_d_file
    set file_user_id = #{fileUserId,jdbcType=BIGINT},
      file_parent_id = #{fileParentId,jdbcType=BIGINT},
      file_name = #{fileName,jdbcType=VARCHAR},
      file_system_name = #{fileSystemName,jdbcType=VARCHAR},
      file_size = #{fileSize,jdbcType=VARCHAR},
      file_simple_size = #{fileSimpleSize,jdbcType=VARCHAR},
      file_type = #{fileType,jdbcType=VARCHAR},
      file_ext = #{fileExt,jdbcType=VARCHAR},
      file_desc = #{fileDesc,jdbcType=VARCHAR},
      file_quote = #{fileQuote,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      yn = #{yn,jdbcType=TINYINT}
    where file_id = #{fileId,jdbcType=BIGINT}
  </update>
</mapper>