<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mhqy.cloud.desktop.dao.CDSongMapper.CDSongMapper">
    <resultMap id="BaseResultMap" type="com.mhqy.cloud.desktop.domin.CDSong">
        <id column="song_id" jdbcType="BIGINT" property="songId"/>
        <result column="song_bd_id" jdbcType="BIGINT" property="songBdId"/>
        <result column="song_name" jdbcType="VARCHAR" property="songName"/>
        <result column="song_musician_id" jdbcType="BIGINT" property="songMusicianId"/>
        <result column="song_lrc_src" jdbcType="VARCHAR" property="songLrcSrc"/>
        <result column="song_mp3_src" jdbcType="VARCHAR" property="songMp3Src"/>
        <result column="song_album" jdbcType="VARCHAR" property="songAlbum"/>
        <result column="song_long_time" jdbcType="VARCHAR" property="songLongTime"/>
        <result column="song_bg_sm" jdbcType="VARCHAR" property="songBgSm"/>
        <result column="song_bg_lg" jdbcType="VARCHAR" property="songBgLg"/>
        <result column="song_bg_bg" jdbcType="VARCHAR" property="songBgBg"/>
        <result column="song_size" jdbcType="BIGINT" property="songSize"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="yn" jdbcType="TINYINT" property="yn"/>
    </resultMap>
    <sql id="Base_Column_List">
    song_id, song_bd_id, song_name, song_musician_id, song_lrc_src, song_mp3_src, song_album, 
    song_long_time, song_bg_sm, song_bg_lg, song_bg_bg, song_size, create_time, update_time, 
    yn
  </sql>
    <sql id="Base_Search_List">
        <where>
            <if test="songId != null">
                AND song_id = #{songId,jdbcType=BIGINT}
            </if>
            <if test="songBdId != null">
                AND song_bd_id = #{songBdId,jdbcType=BIGINT}
            </if>
            <if test="songName != null">
                AND song_name = #{songName,jdbcType=VARCHAR}
            </if>
            <if test="songMusicianId != null">
                AND song_musician_id = #{songMusicianId,jdbcType=BIGINT}
            </if>
            <if test="songLrcSrc != null">
                AND song_lrc_src = #{songLrcSrc,jdbcType=VARCHAR}
            </if>
            <if test="songMp3Src != null">
                AND song_mp3_src = #{songMp3Src,jdbcType=VARCHAR}
            </if>
            <if test="songAlbum != null">
                AND song_album = #{songAlbum,jdbcType=VARCHAR}
            </if>
            <if test="songLongTime != null">
                AND song_long_time = #{songLongTime,jdbcType=VARCHAR}
            </if>
            <if test="songBgSm != null">
                AND song_bg_sm = #{songBgSm,jdbcType=VARCHAR}
            </if>
            <if test="songBgLg != null">
                AND song_bg_lg = #{songBgLg,jdbcType=VARCHAR}
            </if>
            <if test="songBgBg != null">
                AND song_bg_bg = #{songBgBg,jdbcType=VARCHAR}
            </if>
            <if test="songSize != null">
                AND song_size = #{songSize,jdbcType=BIGINT}
            </if>
            <if test="yn != null">
                AND yn = #{yn,jdbcType=TINYINT}
            </if>
        </where>
    </sql>

    <select id="selectByCondition" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from c_d_song
        <include refid="Base_Search_List"/>
        ORDER by 1 desc
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from c_d_song
        where song_id = #{songId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from c_d_song
    where song_id = #{songId,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.mhqy.cloud.desktop.domin.CDSong">
    insert into c_d_song (song_id, song_bd_id, song_name, 
      song_musician_id, song_lrc_src, song_mp3_src, 
      song_album, song_long_time, song_bg_sm, 
      song_bg_lg, song_bg_bg, song_size, 
      create_time, update_time, yn
      )
    values (#{songId,jdbcType=BIGINT}, #{songBdId,jdbcType=BIGINT}, #{songName,jdbcType=VARCHAR}, 
      #{songMusicianId,jdbcType=BIGINT}, #{songLrcSrc,jdbcType=VARCHAR}, #{songMp3Src,jdbcType=VARCHAR}, 
      #{songAlbum,jdbcType=VARCHAR}, #{songLongTime,jdbcType=VARCHAR}, #{songBgSm,jdbcType=VARCHAR}, 
      #{songBgLg,jdbcType=VARCHAR}, #{songBgBg,jdbcType=VARCHAR}, #{songSize,jdbcType=BIGINT},
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{yn,jdbcType=TINYINT}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.mhqy.cloud.desktop.domin.CDSong">
        insert into c_d_song
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="songId != null">
                song_id,
            </if>
            <if test="songBdId != null">
                song_bd_id,
            </if>
            <if test="songName != null">
                song_name,
            </if>
            <if test="songMusicianId != null">
                song_musician_id,
            </if>
            <if test="songLrcSrc != null">
                song_lrc_src,
            </if>
            <if test="songMp3Src != null">
                song_mp3_src,
            </if>
            <if test="songAlbum != null">
                song_album,
            </if>
            <if test="songLongTime != null">
                song_long_time,
            </if>
            <if test="songBgSm != null">
                song_bg_sm,
            </if>
            <if test="songBgLg != null">
                song_bg_lg,
            </if>
            <if test="songBgBg != null">
                song_bg_bg,
            </if>
            <if test="songSize != null">
                song_size,
            </if>
            create_time,
            update_time,
            <if test="yn != null">
                yn,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="songId != null">
                #{songId,jdbcType=BIGINT},
            </if>
            <if test="songBdId != null">
                #{songBdId,jdbcType=BIGINT},
            </if>
            <if test="songName != null">
                #{songName,jdbcType=VARCHAR},
            </if>
            <if test="songMusicianId != null">
                #{songMusicianId,jdbcType=BIGINT},
            </if>
            <if test="songLrcSrc != null">
                #{songLrcSrc,jdbcType=VARCHAR},
            </if>
            <if test="songMp3Src != null">
                #{songMp3Src,jdbcType=VARCHAR},
            </if>
            <if test="songAlbum != null">
                #{songAlbum,jdbcType=VARCHAR},
            </if>
            <if test="songLongTime != null">
                #{songLongTime,jdbcType=VARCHAR},
            </if>
            <if test="songBgSm != null">
                #{songBgSm,jdbcType=VARCHAR},
            </if>
            <if test="songBgLg != null">
                #{songBgLg,jdbcType=VARCHAR},
            </if>
            <if test="songBgBg != null">
                #{songBgBg,jdbcType=VARCHAR},
            </if>
            <if test="songSize != null">
                #{songSize,jdbcType=BIGINT},
            </if>
            now(),
            now(),
            <if test="yn != null">
                #{yn,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.mhqy.cloud.desktop.domin.CDSong">
        update c_d_song
        <set>
            <if test="songBdId != null">
                song_bd_id = #{songBdId,jdbcType=BIGINT},
            </if>
            <if test="songName != null">
                song_name = #{songName,jdbcType=VARCHAR},
            </if>
            <if test="songMusicianId != null">
                song_musician_id = #{songMusicianId,jdbcType=BIGINT},
            </if>
            <if test="songLrcSrc != null">
                song_lrc_src = #{songLrcSrc,jdbcType=VARCHAR},
            </if>
            <if test="songMp3Src != null">
                song_mp3_src = #{songMp3Src,jdbcType=VARCHAR},
            </if>
            <if test="songAlbum != null">
                song_album = #{songAlbum,jdbcType=VARCHAR},
            </if>
            <if test="songLongTime != null">
                song_long_time = #{songLongTime,jdbcType=VARCHAR},
            </if>
            <if test="songBgSm != null">
                song_bg_sm = #{songBgSm,jdbcType=VARCHAR},
            </if>
            <if test="songBgLg != null">
                song_bg_lg = #{songBgLg,jdbcType=VARCHAR},
            </if>
            <if test="songBgBg != null">
                song_bg_bg = #{songBgBg,jdbcType=VARCHAR},
            </if>
            <if test="songSize != null">
                song_size = #{songSize,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="yn != null">
                yn = #{yn,jdbcType=TINYINT},
            </if>
        </set>
        where song_id = #{songId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.mhqy.cloud.desktop.domin.CDSong">
    update c_d_song
    set song_bd_id = #{songBdId,jdbcType=BIGINT},
      song_name = #{songName,jdbcType=VARCHAR},
      song_musician_id = #{songMusicianId,jdbcType=BIGINT},
      song_lrc_src = #{songLrcSrc,jdbcType=VARCHAR},
      song_mp3_src = #{songMp3Src,jdbcType=VARCHAR},
      song_album = #{songAlbum,jdbcType=VARCHAR},
      song_long_time = #{songLongTime,jdbcType=VARCHAR},
      song_bg_sm = #{songBgSm,jdbcType=VARCHAR},
      song_bg_lg = #{songBgLg,jdbcType=VARCHAR},
      song_bg_bg = #{songBgBg,jdbcType=VARCHAR},
      song_size = #{songSize,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      yn = #{yn,jdbcType=TINYINT}
    where song_id = #{songId,jdbcType=BIGINT}
  </update>
</mapper>